### Import Libraries

In [70]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree

### Read Dataset & Clean up Data

In [71]:
df = pd.read_csv('https://cdn.techroulette.xyz/projects/shipwreck/data/m3_data.csv')

df = df.drop(["PassengerId", "Name", "Ticket", "Cabin", "Fare", "Embarked"], axis=1)
df = df.replace({'male': 0, 'female': 1})
df = df.dropna()

df.describe()

         Survived      Pclass         Sex         Age       SibSp       Parch
count  714.000000  714.000000  714.000000  714.000000  714.000000  714.000000
mean     0.406162    2.236695    0.365546   29.699118    0.512605    0.431373
std      0.491460    0.838250    0.481921   14.526497    0.929783    0.853289
min      0.000000    1.000000    0.000000    0.420000    0.000000    0.000000
25%      0.000000    1.000000    0.000000   20.125000    0.000000    0.000000
50%      0.000000    2.000000    0.000000   28.000000    0.000000    0.000000
75%      1.000000    3.000000    1.000000   38.000000    1.000000    1.000000
max      1.000000    3.000000    1.000000   80.000000    5.000000    6.000000

### Prepare and train model

In [72]:
Y = df.pop('Survived')
X = df

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.15)

model = DecisionTreeClassifier()
model.fit(X_train, Y_train)

DecisionTreeClassifier()

### Test model

In [73]:
predictions = model.predict(X_test)

accuracy_score(Y_test, predictions)

0.7870370370370371

### Visualize

In [74]:
tree.export_graphviz(model, out_file='shipwreck.dot', feature_names=["Pclass", "Sex", "Age", "SibSp", "Parch"], label="all", rounded=True, filled=True, class_names=["Died", "Survived"])